<!DOCTYPE html>
<html>
<head>
    <title>CardioCare Medical Report</title>
       <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: #333;
            color: #fff;
            text-align: center;
           
        }
        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .container {
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        h2 {
            color: #666;
            margin-top: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    
           .patient-info {
            display: flex;
            justify-content: space-between;
        }
        h4 {
            flex: 1;
        }
          .recommendations {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 style="color: #fff;">CardioCare Medical Report</h1>
    </div>
      <div class="container">
    <h3 class="header">Patient Information</h3>
      <div class="patient-info">
            <h4>Name: {{name}}</h4>
            <h4>Gender: {{sex}}</h4>
        </div>
        <div class="patient-info">
            <h4>Age: {{age}} yrs</h4>
            <h4>Date: {{date}}</h4>
        </div>
    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Chest Pain Type</td>
            <td>{{chestPainType}}</td>
        </tr>
        <tr>
            <td>Resting Blood Pressure (trestbps in mm Hg)</td>
            <td>{{restingBloodPressure}}mm Hg</td>
        </tr>
        <tr>
            <td>Serum Cholesterol (chol in mg/dL)</td>
            <td>{{serumCholesterol}} mg/dL</td>
        </tr>
        <tr>
            <td>Fasting Blood Sugar (fbs in mg/dL)</td>
            <td>{{fastingBloodSugar}} mg/dL</td>
        </tr>
        <tr>
            <td>Resting Electrocardiographic Results</td>
            <td>{{restingElectrocardiographicResults}}</td>
        </tr>
        <tr>
            <td>Maximum Heart Rate Achieved (thalach)</td>
            <td>{{maxHeartRateAchieved}} bpm</td>
        </tr>
        <tr>
            <td>Has Exercise Induced Pain</td>
            <td>{{exerciseInducedPain}}</td>
        </tr>
        <tr>
            <td>ST Depression Induced by Exercise (oldpeak)</td>
            <td>{{stDepressionInducedByExercise}}</td>
        </tr>
        <tr>
            <td>Slope of the Peak Exercise ST Segment</td>
            <td>{{slopeOfPeakExerciseSTSegment}}</td>
        </tr>
        <tr>
            <td>Number of Major Vessels Colored by Fluoroscopy (ca)</td>
            <td>{{numMajorVesselsColoredByFluoroscopy}}</td>
        </tr>
        <tr>
            <td>Thalium Stress Result (thal)</td>
            <td>{{thaliumStressResult}}</td>
        </tr>
    </table>
    <div class="recommendations">
       <span> <h5>Comments: {{comments}}</h5> </span>
    </div>
     <div class="recommendations">
    <h3>Recommendations</h3>
    <p>Based on the assessment of your cardiovascular health, we recommend the following:</p>
    <ol>
        <li><strong>Regular Exercise:</strong> Incorporate at least 150 minutes of moderate aerobic exercise per week. Consult your healthcare provider before starting any new exercise program.</li>
        <br/>
        <li><strong>Heart-Healthy Diet:</strong> Limit the consumption of saturated and trans fats, as well as sodium (salt). Monitoring your diet can help manage cholesterol levels and blood pressure.</li>
    </ol>
   </div>
       <hr/>
          <div class="signature">
            <p>System Generated on {{date}}</p>
            <p>Cardio Care Pvt. Ltd.</p>
        </div>
    
    </div>
     <div class="footer">
        &copy; 2023 CardioCare Medical Center
    </div>
</body>
</html>
